<mat-form-field appearance="outline" class="half-width" color='accent'>
  <mat-label>{{'COURSES.ADD_FORM.LABEL.DURATION' | translate}}</mat-label>
  <input matInput type="text" placeholder="{{'COURSES.ADD_FORM.PLACEHOLDER.DURATION' | translate}}"
    (change)="updateValue($event.target.value)"
    [(ngModel)]="duration"
    [value]="duration"
    #durationModel="ngModel"
    appNumberValidateDirective
    required>
  <mat-error *ngIf="(durationModel.touched || durationModel.dirty) && durationModel.errors?.numberValueInvalid && !durationModel.errors?.required">
    {{'VALIDATIONS.NUMBER_FORMAT' | translate}}
  </mat-error>
  <mat-error *ngIf="(durationModel.touched || durationModel.dirty) && durationModel.errors?.required">
    {{'VALIDATIONS.REQUIRED' | translate}}
  </mat-error>
</mat-form-field>
