@import "~src/app/app-variables";

mat-toolbar {
  background: $bg-dark-gray;
}

.user-block {
  display: flex;
}

.user-info {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 12px;
}
