<mat-toolbar>
  <app-logo></app-logo>
  <span class="spacer"></span>
  <div *ngIf="!isLoggedIn$ | async"><app-user-login></app-user-login></div>
  <div *ngIf="isLoggedIn$ | async">
    <div class="user-block" *ngIf="userProfile$ | async as userProfile">
      <p class="user-info">{{userProfile.name.first}} {{userProfile.name.last}}</p>
      <app-user-logout></app-user-logout>
    </div>
  </div>
  <div class="lang-selector">
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang">
        {{ lang }}
      </option>
    </select>
  </div>
</mat-toolbar>
