@import "~src/app/app-variables";

.course {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
  border-radius: 6px;
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(29,30,38,0.10), 0 2px 10px 0 rgba(29,30,38,0.15);

  .course-col {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      width: 75%;
    }
  }

  .course-title {
    font-size: 24px;
  }

  .course-info {
    display: flex;
    align-items: center;

    .course-info-item {
      display: flex;
      align-items: center;
      padding: 0 20px;

      p {
        padding-left: 10px;
      }
    }

    mat-icon,
    p {
      color: $medium-gray;
    }
  }

  .course-description {
    width: 75%;
  }

  .course-actions {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $white;

    button {
      margin-left: 20px;
      padding: 4px 20px;
      color: $white;
      font-size: 18px;
      background: $primary-color;

      mat-icon {
        margin-right: 10px;
      }
    }
  }
}
