@import "~src/app/app-variables";

.courses-list {
  button {
    width: 100%;
    padding: 10px;
    color: $light-blue;
    text-decoration: underline;
    text-transform: uppercase;
    background: $white;
  }
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background: $white;

  p {
    text-transform: uppercase;
  }
}
