/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~src/app/app-variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .wrapper {
    p {
      margin: 0;
    }
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  header,
  footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    padding: 1.5% 5% 3%;
    background: $bg-light-gray;
  }
}


* {
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}
